In [5]:
# Bonus: 1. Import the SQL database into Pandas. 

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine

# Import PgAdmin password
from PasswordPgAdmin import pw

engine = create_engine(f'postgresql://postgres:pw@localhost:5432/Table_Schema_non-ERD')
connection = engine.connect()

# pip install psycopg2

ModuleNotFoundError: No module named 'PasswordPgAdmin'

In [2]:
# Import in the table data from SQL
employees_data = pd.read_sql("SELECT * FROM employees", connection)
salary_data = pd.read_sql("SELECT * FROM salaries", connection)
titles_data = pd.read_sql("SELECT * FROM titles", connection)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "employees" does not exist
LINE 1: SELECT * FROM employees
                      ^

[SQL: SELECT * FROM employees]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
#Bonus: 2. Create a histogram to visualize the most common salary 
# ranges for employees. 

# Create histogram
sd= salary_data['salary']
plt.hist(sd, 20, density=False, label="Salary")

# Plot an avg line to visualize mean
plt.axvline(sd.mean(), color='k', linestyle='dashed', label="Salary Mean")

# Set labels
plt.xlabel("Salary", fontsize=12)
plt.ylabel("Number of Employees", fontsize=12)
plt.title ("Common Salary Ranges", fontsize=16)
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()

# Save histogram
plt.savefig("../Images and ERD/Common Salary Ranges.png")

In [ ]:
#Bonus: 3. Create a bar chart of average salary by title.

# First merge the employee and salary tables on "emp no"
emp_salary = employees_data.merge(salary_data,on ='emp_no')
emp_salary.head()

# Then merge emp_salary with the titles_data table on title id's
emp_title = emp_salary.merge(titles_data,left_on = 'emp_title_id',right_on='title_id')
emp_title.head()

# Clean up the merge data to title and salary column data only
snt = emp_title[['title','salary']]
snt.head()

# Get salary means by their titles
snt_group = snt.groupby('title').mean()['salary']

# Create bar chart from the data
snt_df = snt_group
snt_df.plot.bar(color=['silver', 'purple', 'rosybrown', 'olive','forestgreen', 'steelblue', 'teal' ])

plt.xlabel('Employee Titles', fontsize = 12)
plt.ylabel('Average Salary', fontsize = 12)
plt.title('Average Salary by Title', fontsize = 16)
plt.legend()
plt.tight_layout()
plt.show()
# Save histogram
plt.savefig("../Images and ERD/Avg Salary by Title.png")